/* Author Vachana
theme: Food order admin
version: 1.0 */

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.wrapper{
    border: 1px ;
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}
.center{
    text-align: center;
}

.footer{
    background-color:rgb(255, 142, 138) ;
    color:white
}
.menu ul{
    list-style-type:none ;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color:rgb(255, 142, 138) ;
}

.menu ul li a:hover{
    color:tomato
}

.menu{
    border-bottom: 1px solid black;
}

.main{

    background-color: rgb(180, 180, 180);
    padding: 1%;
}

.col-4{
    background-color: white;
    width: 18%;
    margin:1%;
    padding: 2%;
    float:left;
}

.clearfix{
    float:none;
    clear:both
}